@import "../components/mixin";
@import "../components/vars";
@import "../components/icon";

.ir-login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/login_bg.jpg") no-repeat center;
  background-size: 100% 100%;
}

.ir-login-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 740px;
  height: 360px;
  margin-top: -180px;
  margin-left: -370px;
  background-color: rgba(0, 0, 0, 0.7);
}

.ir-login-box-inner {
  padding-right: 410px;
}

.ir-login-box-aside {
  //font-family: sans-serif;
  color: #fff;
  img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 50px auto 40px;
  }
}

.ir-login-aside-title {
  margin: 0 35px 15px;
  line-height: 36px;
  font-size: 23px;
}

.ir-login-aside-subtitle {
  margin-left: 37px;
  line-height: 22px;
  font-size: 17px;
}

.ir-login-box-main {
  position: absolute;
  right: 30px;
  top: -20px;
  width: 380px;
  height: auto;
  min-height: 400px;
  background-color: #fff;
  .borderRadius(2px);
  box-shadow: 0 5px 10px 0 rgba(0, 34, 77, .5);
}

.ir-login-title {
  margin: 60px 35px 30px;
  font-size: 28px;
  letter-spacing: 2px;
  color: #0277bd;
  span {
    margin-left: 5px;
    font-size: 20px;
  }
}

.ir-login-form {
  padding: 0 35px;
}

.ir-input-wrapper {
  position: relative;
  margin-bottom: 5px;
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #E5E9F2;
  .transition(all .4s);
  input {
    display: block;
    width: 100%;
    line-height: 30px;
    font-size: 17px;
    color: #555;
  }
  .icon {
    position: absolute;
    top: 18px;
    right: 3px;
    font-size: 14px;
    color: #c7c7c7;
  }
  &.active {
    border-bottom: 1px solid #2196f3;
    .icon {
      color: #2196f3;
    }
  }
}

.ir-btn-wrapper {
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: right;
  button {
    padding: 0 35px;
    line-height: 40px;
    font-size: 17px;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    background-color: #2196f3;
    .borderRadius(3px);
    cursor: pointer;
    .transition(background-color .4s ease-in-out 0s);
    &:hover {
      background-color: #1976d2;
    }
  }
}

.ir-input-inline {
  font-size: 0;
  .ir-input-wrapper {
    overflow: hidden;
  }
  .ir-vali-img {
    float: right;
    width: 35%;
    margin-left: 10px;
    img {
      width: 100%;
      height: 43px;
      margin-top: 7px;
    }
  }
}

.ir-remember {
  float: left;
  margin-top: 12px;
  margin-left: 3px;
  font-size: 14px;
  color: #8e8e8e;
  input {
    margin-right: 5px;
    vertical-align: middle;
  }
}

*::-webkit-input-placeholder {
  color: #d8d9df;
}

*:-moz-placeholder {
  color: #d8d9df;
}

*:-ms-input-placeholder {
  /* IE10+ */
  color: #d8d9df;
}

.help-block {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
  font-size: 12px;
  color: #d9534f
}