body, html {
  font-family: @fontStack;
}

.ir-header {
  height: @navHeight;
  .transition(all .4s);
  &.onscroll{
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
  }
}

.ir-container {
  width: @mainWidth;
  margin-left: auto;
  margin-right: auto;
}

.ir-logo {
  float: left;
  height: @navHeight;
  img {
    width: auto;
    height: @navHeight - 50;
    margin-top: 25px;
    vertical-align: bottom;
  }
}

.ir-nav {
  float: right;
}

.ir-nav-item {
  .displayInlineBlock();
  padding: 0 17px;
  line-height: @navHeight;
  font-size: 17px;
  a {
    letter-spacing: 2px;
    color: #8e8e8e;
  }
}

.ir-user{
  float: right;
  line-height: 20px;
  margin-left: 20px;
}

.ir-user-login{
  .displayInlineBlock();
  margin-top: (@navHeight - 20)/2;
  padding-left: 20px;
  color: #8e8e8e;
  border-left: 1px solid #ddd;
}

.ir-user-logged{
  position: relative;
  z-index: 2000;
  margin-top: (@navHeight - 35)/2;
  cursor: pointer;
  img{
    width: 35px;
    height: 35px;
    .borderRadius(50%);
  }
}

.ir-dropdown{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  right: -8px;
  z-index: 3000;
  min-width: 150px;
  margin-top: -20px;
  padding: 3px 0;
  background-color: #fff;
  .borderRadius(3px);
  box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.2);
  .transition(all .4s ease-in-out);
  &::before{
    content: '';
    position: absolute;
    top: -16px;
    right: 17px;
    z-index: 800;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #f7f7f7 transparent;
  }
  &::after{
    content: '';
    position: absolute;
    top: -12px;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #fff transparent;
    z-index: 1200;
  }
  &.show{
      visibility: visible;
      opacity: 1;
      margin-top: 0;
  }
}

.ir-dropdown-item{
  margin: 0 3px;
  color: #8f8f8f;
  .transition(all .2s);
  &:hover{
    background-color: #2196f3;
    color: #fff;
  }
  a{
    display: block;
    padding: 8px 25px;
    font-size: 14px;
    color: inherit;
  }
}