body, html {
  font-family: @fontStack;
}

.ir-header {
  height: @navHeight;
}

.ir-container {
  width: @mainWidth;
  margin-left: auto;
  margin-right: auto;
}

.ir-logo {
  float: left;
  height: @navHeight;
  img {
    width: auto;
    height: @navHeight - 50;
    margin-top: 25px;
    vertical-align: bottom;
  }
}

.ir-nav {
  float: right;
}

.ir-nav-item {
  .displayInlineBlock();
  padding: 0 17px;
  line-height: @navHeight;
  font-size: 17px;
  a {
    letter-spacing: 2px;
    color: #8e8e8e;
  }
}

.ir-user{
  float: right;
  line-height: 20px;
  margin-left: 20px;
}

.ir-user-login{
  .displayInlineBlock();
  margin-top: (@navHeight - 20)/2;
  padding-left: 20px;
  color: #8e8e8e;
  border-left: 1px solid #ddd;
}

.ir-user-logged{
  margin-top: (@navHeight - 35)/2;
  img{
    width: 35px;
    height: 35px;
    .borderRadius(50%);
  }
}